process {
    docker.enabled = true
    withLabel:process_low {
        cpus = 2
        memory = "2G"
        disk = "2G"
        //machineType = 'n2-standard-2'
    }
    withLabel:process_medium {
        cpus = 4
        memory = "8G"
        disk = "4G"
        //machineType = 'n2-standard-4'
    }
    withLabel:process_high {
        cpus = 8
        memory = "32G"
        disk = "12G"
        //machineType = 'n2-standard-8'
    }
    withLabel:process_high_cpu {
        cpus = 32
        memory = "64G"
        disk = "12G"
    }
}

includeConfig 'modules_config.d/assembly.config'
includeConfig 'modules_config.d/create_masks.config'
includeConfig 'modules_config.d/phylogenetic_reconstruction.config'
includeConfig 'modules_config.d/reads_qc.config'
includeConfig 'modules_config.d/reference_preprocessing.config'
includeConfig 'modules_config.d/speciation.config'
includeConfig 'modules_config.d/typing.config'
includeConfig 'modules_config.d/variant_detection.config'
