manifest {
    name   =  "orkas"
    author = "Anders Goncalves da Silva"
    description = "orkas is a Nextflow pipeline for bacterial pathogen genomics inspired by Nullarbor"
    version = "0.1.0"
    mainScript = "main.nf"
}


params {
    //inputs
    local_input = "data/local-samplesheet.csv"
    context_input = "gs://fastq-minag/context-fastq/samplesheet/samplesheet.csv"

    // reference
    reference = "gs://fastq-minag/reference/NC_000913.3.fasta"
    ref_is_complete = true 
    chromosome_id = "NC_000913.3"
    
    //outputs
    outdir = "results"
    publish_dir_mode = "copy"

    //kraken inputs
    kraken_db = "gs://kraken2-db/stdandard-8g-20220607/"
    
    // params
    var_detection_mode = 'bcftools' // bcftools or freebayes
    //freebayes 
    mincov = 10
    basequal = 20
    mapqual = 42
    minfrac = 0.9
    minqual = 50

    // general config
    enable_conda = false

    // google_params
    google_project = null
}

includeConfig 'confs/modules.config'

profiles {

    standard {
        process.executor = 'local'
    }

    google_life_sciences {
        process.executor = 'google-lifesciences'
        google.region = 'northamerica-northeast1'
        docker.enabled = true
        conda.enabled = false
    }

    google_batch {
        process.executor = 'google-batch'
        google.region = 'us-central1'
        docker.enabled = true
        conda.enabled = false
    }

}

google {
    project = params.google_project
}


conda {
    useMamba = true
}