def test_dir = '/Users/andersgs/dev/lgi/onetrakr/orkas/tests'

params {
    outdir = "test_output"
    publish_dir_mode = "link"
    enable_conda = false
    test_data {
        'fastq' {
            read1 = "${test_dir}/test_data/fastq/DRR040053/DRR040053_1.fastq.gz"
            read2 = "${test_dir}/test_data/fastq/DRR040053/DRR040053_2.fastq.gz"
            read1_clean = "${test_dir}/test_data/fastq/DRR040053/DRR040053_1.fastp.fastq.gz"
            read2_clean = "${test_dir}/test_data/fastq/DRR040053/DRR040053_2.fastp.fastq.gz"
            merged_clean = "${test_dir}/test_data/fastq/DRR040053/DRR040053.merged.fastq.gz"
        }
    }
}

docker {
    enabled = true
}

conda {
    enabled = false
}

profiles {
    reads_qc {
        process {
                withName: 'PHCUE' {
                    publishDir = [
                        path: { "${params.outdir}/reads_qc/phcueqc"},
                        mode: params.publish_dir_mode,
                        pattern: "*.{txt,yml}"
                    ]
                }
                withName: 'LIGHTER' {
                    publishDir = [
                        path: { "${params.outdir}/reads_qc/lighter" },
                        mode: params.publish_dir_mode,
                        pattern: "*.{cor.fq.gz,yml}"
                    ]
                }
                withName: 'FASTP' {
                    ext.args = "--cut_right --trim_poly_g"
                    publishDir = [
                        path: { "${params.outdir}/reads_qc/fastp" },
                        mode: params.publish_dir_mode,
                        pattern: "*.{html,json,log,fastp.fastq.gz,merged.fastq.gz,yml}"
                    ]
                }
        }
    }
    assembly {
        process {
            withName: 'UNICYCLER' {
                ext.args = "--min_fasta_length 500 --no_correct"
                publishDir = [
                    path: { "${params.outdir}/assembly/unicycler" },
                    mode: params.publish_dir_mode,
                    pattern: "*"
                ]
            }
            withName: 'QUAST' {
                ext.args = "--min-contig 500 --no-plots"
                publishDir = [
                    path: { "${params.outdir}/assembly/quast" },
                    mode: params.publish_dir_mode,
                    pattern: "*"
                ]
            }
        }
    }
}