process {
    withName: 'IQTREE' {
        memory = "1G"
        ext.args = { "-m TEST -B 1000 --alrt 1000" }
        publishDir = [
            path: { "${params.outdir}/tree" },
            mode: params.publish_dir_mode,
            pattern: "*.treefile"
        ]
    }
    withName: 'GOTREE_REROOTMIDPOINT' {
        publishDir = [
            path: { "${params.outdir}/tree" },
            mode: params.publish_dir_mode,
            pattern: "*.tre"
        ]
    }
    withName: 'GOTREE_ROTATESORT' {
        publishDir = [
            path: { "${params.outdir}/tree" },
            mode: params.publish_dir_mode,
            pattern: "*.tre"
        ]
    }
}