process {
    withName: 'FASTP' {
        ext.args = "--cut_right --trim_poly_g"
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.fastq.gz"
        ]
    }
    withName: 'LIGHTER' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{cor.fq.gz}"
        ]
    }
    withName: 'PHCUE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}"},
            mode: params.publish_dir_mode,
            pattern: "*.{txt}"
        ]
    }
}