process {
    withName: 'ANY2FASTA' {
        ext.args = "-u"
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            pattern: "*.fasta"
        ]
    }
    withName: 'INDEX' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: params.publish_dir_mode,
            pattern: "*.fai"
        ]
    }
    if (params.ref_is_complete) {
        withName: 'FILTER' {
            publishDir = [
                path: { "${params.outdir}/reference" },
                mode: params.publish_dir_mode,
                pattern: "*.fasta"
            ]
        }
        withName: 'INDEX_CHROM' {
            publishDir = [
                path: { "${params.outdir}/reference" },
                mode: params.publish_dir_mode,
                pattern: "*.fai"
            ]
        }
    }
}