process {
    withName: 'KRAKEN2_KRAKEN2' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.txt"
        ]
    }
    withName: 'BRACKEN_BRACKEN' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
}