process {
    withName: 'LISSERO' {
        ext.when = { meta.organism ==~ /Listeria monocytogenes/ }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
    withName: 'SISTR' {
        ext.when = { meta.organism ==~ /Salmonella enterica/ }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tab"
        ]
    }
    withName: 'EMMTYPER' {
        ext.when = { meta.organism ==~ /Streptococcus pyogenes/ }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
    withName: 'NGMASTER' {
        ext.when = { meta.organism ==~ /Neisseria gonorrhoeae/ }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
    withName: 'MENINGOTYPE' {
        ext.when = { meta.organism ==~ /Neisseria meningitidis/ }
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
    withName: 'MLST' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
    withName: 'AMRFINDERPLUS_RUN' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }
}
