process {
    withName: 'BOWTIE2_BUILD' {
        publishDir = [
            path: { "${params.outdir}/reference/bowtie2_index" },
            mode: params.publish_dir_mode,
            pattern: "*.bt2"
        ]
    }
    withName: 'BOWTIE2_ALIGN' {
        ext.args = { "--very-sensitive-local --rg-id ${meta.id} --rg 'SM:${meta.id}'" }
        ext.args2 = { "-n -l 0" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.sam"
        ]
    }
    withName: 'SAMCLIP' {
        ext.args = { "--max 10" }
        ext.prefix = { "${meta.id}_samclip"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.sam"
        ]
    }
    withName: 'SAMTOOLS_FIXMATE' {
        ext.args = { "-m" }
        ext.prefix = { "${meta.id}.samtools-fixmate"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }
    withName: 'SAMTOOLS_SORT_NAME' {
        ext.args = { "-l 0 -n" }
        ext.prefix = { "${meta.id}.samtools-sort-name"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }
    withName: 'SAMTOOLS_SORT_ORDER' {
        ext.args = { "-l 0" }
        ext.prefix = { "${meta.id}.samtools-sort-order"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }
    withName: 'SAMTOOLS_MARKDUP' {
        ext.args = { "-r -s --write-index -l 600" }
        ext.prefix = { "${meta.id}_markdup"}
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.bam"
        ]
    }
    if (params.var_detection_mode == 'freebayes') {
        withName: 'FREEBAYES' {
            ext.args = { "-p 2 -P 0 -C 2 -F 0.05 --min-coverage ${params.mincov} --min-repeat-entropy 1.0 -q ${params.basequal} -m ${params.mapqual} --strict-vcf" }
            ext.prefix = { "${meta.id}_raw"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/snps" },
                mode: params.publish_dir_mode,
                pattern: "*.vcf"
            ]
        }
        withName: 'BCFTOOLS_INDEX' {
            publishDir = [
                path: { "${params.outdir}/${meta.id}/snps" },
                mode: params.publish_dir_mode,
                pattern: "*.{csi,tbi}"
            ]
        }
        withName: 'BCFTOOLS_VIEW' {
            ext.args = { "--include \"FMT/GT='1/1' && QUAL>=${params.minqual} && FMT/DP>=${params.mincov} && (FMT/AO)/(FMT/DP)>=${params.minfrac}\"" }
            ext.prefix = { "${meta.id}.bcftools-view"}
            publishDir = [
                path: { "${params.outdir}/${meta.id}/snps" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf,vcf.gz}"
            ]
        }
    }
    if (params.var_detection_mode == 'bcftools' ) {
        withName: 'BCFTOOLS_MPILEUP' {
            ext.args = { "-Ou -a 'FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SCR,FORMAT/SCR,INFO/AD,INFO/ADR,INFO/ADF,INFO/SCR' " }
            ext.args2 = { "-m -p 1.1e-4 -a 'FORMAT/GQ,FORMAT/GP' " }
            ext.args3 = { "--include \"FMT/GT='1/1' && QUAL>=${params.minqual} && FMT/DP>=${params.mincov} && (FMT/AD[0:1])/(FMT/DP)>=${params.minfrac}\"" }
            ext.prefix = { "${meta.id}.bcftools-mpilelup" }
            publishDir = [
                path: { "${params.outdir}/${meta.id}/snps" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,txt}"
            ]
        }
    }
    withName: 'BCFTOOLS_NORM' {
        ext.args = { "-a" }
        ext.prefix = { "${meta.id}.bcftools-norm" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf,vcf.gz}"
        ]
    }
    withName: 'BCFTOOLS_ANNOTATE' {
        ext.args = {
            x = ["TYPE", "DP", "RO", "AO", "AB"].collect{it1 -> "INFO/$it1"};
            y = ["GT", "DP", "RO", "AO", "QR", "QA", "GL"].collect{it2 -> "FORMAT/$it2"};
            "--remove " + x.join(",") + y.join(",")
            }
        ext.prefix = { "${meta.id}.bcftools-annotate" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/snps" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf,vcf.gz}"
        ]
    }
}
